{% extends "templates/page.html" %}

{% block nav_bar_left_items %}
    {{ super() }}
    {% if user.admin %}
        <li><a href="{{base_url}}environments">Environments</a></li>
        {% if services %}
            {% for service in services %}
                <li><a href="{{service.prefix}}" style="text-transform: capitalize;">{{service.name}}</a></li>
            {% endfor %}
        {% endif %}
    {% endif %}

    {# From nativeauthenticator #}
    <li><a href="{{base_url}}change-password">Change Password</a></li>
    {% if user.admin %}
        <li><a href="{{base_url}}authorize">Authorize Users</a></li>
    {% endif %}
{% endblock %}
